<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FitnessTracker.Properties.Settings.fitness_tracking_dbConnectionString"
            connectionString="Data Source=DESKTOP-0RPA0T5;Initial Catalog=fitness_tracking_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>